
body {
    border: 10px  rgb(255, 36, 36);
    background-color: rgb(255, 36, 36);
} 

.container {
    display: flex;
    border: 10px  rgb(255, 36, 36);
    background-color: rgb(255, 36, 36);
}  
   
h1 {
    text-align: center;
    text-decoration: wavy goldenrod;
    
    color: rgb(8, 17, 48);
    border: 1px dashed rgb(235, 230, 222);
    background-color: tomato;
    padding: 0,5em;
    margin: 0,3em;

}
.Medium-Pizza {
    display: grid;
    padding: 1em;
    border: 2px solid;
    border-color: orange;
    margin: 1em;
    background-color: orange;
}
.Large-Pizza {
    display: grid;
    padding: 1em;
    border: 2px solid;
    border-color: rgb(91, 93, 194);
    margin: 1em;
    background-color: rgb(91, 93, 194);
}

.Small-Pizza {
    display: grid;
    padding: 1em;
    border: 2px solid;
    border-color: rgb(187, 70, 158);
    margin: 1em;
    background-color: rgb(187, 70, 158);
}
.Contact-Details {
    padding: 1em;
    border: 2px ;
    border-color:  lightsalmon;
    margin: 1em;
    background-color:  lightsalmon;   
}
.My-Cont {
    display: flex;  
  }
  .Contact-Details1{
      margin-left: auto;
      
  }

@media (min-width: 768px) {
.Pizzas {
    display: flex;
    border: 10px  rgb(255, 36, 36);
    background-color: rgb(255, 36, 36);  
} 

.Medium-Pizza {
    display: grid;
    padding: 1em;
    border-radius: 2em solid;
    border-color: orange;
    margin: 1em;
    background-color: orange;
    border-radius: 15px;
    
}

.Large-Pizza {
    display: grid;
    padding: 1em;
    border-radius: 2px solid;
    border-color: rgb(91, 93, 194);
    margin: 1em;
    background-color: rgb(91, 93, 194);
    border-radius: 15px;
}   
.Small-Pizza {
    display: grid;
    padding: 1em;
    border: 2px solid;
    border-color: rgb(187, 70, 158);
    margin: 1em;
    background-color: rgb(187, 70, 158);
    border-radius: 15px;
}
.Contact-Details {
    padding: 1em;
    border: 1px ;
    border-color:  lightsalmon;
    margin: 1em;
    background-color:  lightsalmon;
    border-radius: 15px;
}
.My-Cont {
  display: flex;  
}
.Contact-Details1{
    margin-left: auto;
    
}
}

